Library
Temp
obj
*.sln
*.csproj
*.unityproj
*.pidb
*.userprefs
*.suo
ZenzygSync-csharp.v11.suo
.DS_Store
Assets/.DS_Store
Assets/Textures/.DS_Store
Assets/UnityVS.meta
Assets/UnityVS/Editor.meta
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
UnityVS.Zenzyg.sln.DotSettings
Assets/Plugins/P31RestKit.sln.meta
Assets/Plugins/P31RestKit.userprefs.meta
Thumbs.db
Thumbs.db.meta
Assets/Plugins/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
Assets/Plugins/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
Assets/Plugins/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
